header{
    background: rgb(182, 103, 103);
    padding: 7px;
    border: 5px 5px green;
    text-align: right;
}
img{
    align-self: left;
    display: inline-block;
    height: 40px;
}
h1{
    text-align: left;   
    margin-left: 3px;
    color: rgb(150, 134, 119);
    font-size: 30px;

}
span{
    
    padding: 3px;
    margin: 3px;
   
}

a{
    border: 10px 10px yellow ;
    color: rgb(233, 201, 18);
    text-decoration-line: none;
    font-size: 24px;
}