<header>
    <h1>LOGO</h1>
    <img srcset="\favicon.ico" alt="icone">
    <nav>       
         <span>
            <a routerLink="/">Home</a>
         </span>
            
            <span>
                <a routerLink="/input">Input</a>
            </span>
            
            <span>
                <a routerLink="/title">title
                </a>
            </span>
            <span>
                <a routerLink="/new">New</a>
            </span>
            <span>
                <a routerLink="/diretivasAtributos">diretivas atributos</a>
            </span>
            <span>
                <a routerLink="/diretivasEstruturais">Diretivas estruturais</a>
            </span>
            <span>
                <a routerLink="/new">New</a>
            </span>
    </nav>
</header>
